.form-wrapper {
  margin: auto;
  padding: 30px;
  background: white;
  width: auto;
  height: auto;
  transition: all 0.4s ease-in-out;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.form-wrapper:hover {
  transform: translate(0, -20px);
  box-shadow: 0 0 10px #ccc;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-wrapper:hover button {
  background-image: linear-gradient(to right, #000529 1%, #002055 24%, #005db5 67%, #0074d9 100%);
  color: white;
}

/* later added css */
.form-group {
  position: relative;
  margin-top: 30px;
}

.form-label {
  position: absolute;
  left: auto;
  top: 10px;
  color: #999;
  background-color: #fff;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
  transform: translateY(-125%);
  font-size: 0.75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 90%;
  outline: 0;
  border: 0;
  box-shadow: 0 1px 0 0 #e5e5e5;
  transition: box-shadow 150ms ease-out;
}

.form-input:focus {
  box-shadow: 0 2px 0 0 blue;
}

.form-input.filled {
  box-shadow: 0 2px 0 0 lightgreen;
}
